<nav
  class="navbar text-primary max-w-4xl bg-base-300 m-auto rounded-lg justify-center"
>
  <div class="navbar-start ml-2"><a
      href="/"
      class="link link-hover text-2xl"
    >Skillshare</a></div>
  <div class="navbar-end gap-2">
    <div class="dropdown dropdown-end md:hidden">
      <div class="btn btn-secondary m-1" tabindex="0" role="button">Menu</div>
      <ul class="dropdown-content mt-3 menu w-50 p-2 bg-base-300 rounded-lg" tabindex="0">
        <li class=" m-auto"><a class=" btn btn-circle w-40 m-1" href="/skill/add">ADD Skill</a></li>
        <li class="m-auto"><a class="btn btn-circle bg-accent w-40 m-2" href="/user/new-account"> Login </a></li>
      </ul>
    </div>
    <button class="hidden md:inline-block"><a class="btn btn-secondary" href="/skill/add">Add Skill</a> </button>
    <button class="hidden md:inline-block"><a class="btn btn-circle w-20" href="/user/new-account"> Login </a></button>
  </div>
</nav>