<div {{#if notwar}} {{else}} hidden {{/if}} id="war-div"  role="alert" class="  alert alert-{{wtype}} p-2 m-4  mt-2 mb-4">
  <span class=" text-lg ml-2">{{war}}</span>
  <button id="war-btn" class=" btn btn-ghost text-2xl ml-auto">⤫</button>
</div>
