<h1 class="text-3xl text-accent shadow-accent-content p-8 pb-2">Add new Skill</h1>
<form method="GET" action="/skill/save" class=" p-6 pt-0 ">
  <input type="text" name="user" id="" value="{{user.id}}" hidden>
  <input type="text" name="name" id="" value="{{user.name}}" hidden>
  <label class=" input input-secondary w-full mt-6 text-xl p-1">Name:
    <input class=" text-secondary" type="text" name="" disabled value="{{#if user}}{{user.name}}{{/if}}">
  </label>
  <label class=" input input-secondary w-full mt-6 text-xl p-1">Key:
    <input class=" text-secondary" type="text" name="key" required>
  </label>
  <label class=" input input-secondary w-full mt-6 text-xl p-1">Title:
    <input class=" text-secondary" type="text" name="title" required>
  </label>
  
  <textarea  class=" text-secondary w-full textarea textarea-secondary mt-6 text-xl p-1"
    placeholder="Enter datails" name="body" rows="5" required></textarea>
  <div class=" w-max m-auto mt-4">  <input class=" btn btn-secondary" type="submit" value="Submit"> </div>

</form>