<form method="post" action="/user/save">
<fieldset>Add new user:
  <br>
  <label for="user">User name:
    <input type="text" id="user" name="user">
  </label>
  <input type="submit" value="done">
</fieldset>
</form>