<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>{{title}}</title>
</head>

<body class=" max-w-4xl m-auto shadow-2xl ">
  {{> header }}
  <div hidden class=" alert alert-error alert-info alert-success alert-warning"></div>
  {{{body}}}
  <div class="w-full mt-8 bg-base-300 rounded-b-md ">
    <p class=""></p>
    <p class=" w-fit m-auto">© 2025 Usman Ghani. All rights reserved</p>
  </div>
<script>
  let wardiv = document.getElementById('war-div');
  let warbtn = document.getElementById('war-btn');
  warbtn.addEventListener("click", function() {
    
    wardiv.classList.add("hidden")
  })
</script>
</body>
</html> 