<h1 class="text-3xl text-accent shadow-accent-content p-8 md:pl-20 md:pr-20 pb-4">Enter Details To Login</h1>

<form method="post" action="/user/auth" class=" p-6 pt-0 md:pl-20 md:pr-20 md:pt-0">
{{> war }}
  
  <label class=" input input-info w-full mt-0 text-xl p-1">Id:
    <input class=" text-secondary" type="text" name="id" required>
  </label>
  <label class=" input input-info w-full mt-6 text-xl p-1">Password:
    <input class=" text-secondary" type="text" name="password" required>
  </label>
  
  <div class=" w-max m-auto mt-4 flex flex-col  justify-items-center">
  <div class="m-auto"><input class=" btn btn-info w-fit" type="submit" value=" Login "></div >
  <h3 class="text-lg m-auto p-2">Or For New User</h3>
  <a class="btn btn-primary" href="/user/new-account">Create New Account</a></div>

</form>